.App{
    width: 100%;
    min-height: 100vh;
    /* min-height: 100%; */
    padding: 1rem ;
    background-color:#365314;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}